$gray_background: rgb(60, 67, 75);
$gray_letters: rgb(123, 127, 131);
$teal_button: rgb(32, 145, 163);
$book_brown: rgba(77, 63, 63, 0.63);

html .body {
    font-size: 14;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    width: 100vw;
    border: 2px solid rgba(0, 0, 0, 0);
    margin: 0 0 0 -3px;
    padding: 0;
    position: relative; 
    overflow: scroll;
}

.header {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    width: 101%;
    height: 4em;
    background-color: $gray_background;
    color: white;
    margin-top: -2px;
    position: fixed;
    z-index: 1;
    
    &__title {
        height: 100%;
        width: 30%;
        margin-left: 1rem;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: lighter;
    }
    &__dropdown {
        display: none;
    }
    &__nav {
        width: 40vw;
        margin-top: .7em;
        color: $gray_letters;
        .header__list{
            list-style-type: none;
            display: inline-flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-left: -8px;
            margin-top: 12px;
            .header__listitem {
                margin-right: 4.6vw;
                font-weight: lighter;
            }
            .header--home {
                color: white;
            }
            .header--addbook {
                width: 100px;
            }
        }
    }
    &__search {
        height: 100%;
        margin-right: 2%;
        width: 50%;
        .header__input {
            margin-top: .8em;
            height: 1.8em;
            border-radius: 7px;
            border-width: 2px;
            border-color: gray;
            min-width: 26vw;
            max-width: 30em;
            font-size: 1em; 
            text-indent: 6px;
            padding-top: 4px;
            
        }
        .header__searchbtn {
            color: $teal_button;
            font-size: 1em;
            font-weight: bold;
            width: 5em;
            margin-left: .5em;
            height: 2em;
            border-radius: 5px;
            background-color: $gray_background;
            border: 1px solid $teal_button;
        }
    }
}
    
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    height: auto;
    margin: 3.8em 0 0 0;
    

    &__titlecontainer{
        height: 44vh;
        min-height: 280px;
        width: 100%;
        text-align: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        background-image: url("./images/library2.jpeg");
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 45%;
        background-size: 100%;
        max-width: 1000px;
    }
    &__titleheadings {
        margin-top: 100px;
        width: 100%;
        background-color:$book_brown;
        margin-left: auto;
        margin-right: auto;
        color: rgb(255, 255, 255);
        
    }
    &__titleheading1 {
        font-size: 45pt;
        font-weight: bold;
    }
    &__titleheading2 {
        font-weight: lighter;
        margin-top: -35px;
    }
    &__descriptions {
        width: 90%;
        margin: .5em auto 0 auto;
        font-family: 'Times New Roman', Times, serif;
        font-size: 11pt;
        
    }
    .description__heading {
        font-style: italic;
        font-weight: lighter;
    }
    .main_paragraph {
        text-align: left;
    }
    .description__button {
        height: 30px;
        width: 180px;
        font-weight: bold;
        font-size: 12pt;
        border-radius: 5px;
    }
    .button--dark {
        background-color: rgb(52,58,64);
        color: white;
    }
}

.footer {
    background-color: rgb(226, 225, 225);
    width: 100%;
    height: 25px;
    position: absolute;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: auto;
    font-size: 11pt;
    color: rgb(88, 88, 88);
}

//Breakpoint for Md-laptop 769px - 1024px
@media screen and (min-width:769px) and (max-width: 1025px ){
    .header {
        min-height: 4em;
        height: 8%;
        &__title {
            width: 16%;
        }
        &__nav{
            width: 39%;
            flex-wrap: nowrap;
            .header__listitem {
                font-size: 11pt;
            }
        }
        &__search {
            width: 40%;
            button {
                width: 18%;
                font-size: 89%;
            }
        }
        &__listitem {
            width: fit-content;
            flex-wrap: nowrap;
        }
    }
    .main {
    &__titlecontainer {
        height: 42vh;
        width: 100%;
        overflow: hidden;
    }
    &__titleheadings {
        margin-top: 12%;
    }
}
.footer {
    margin-top: 30px;
}
}

//Breakpoint for Lg-desktop 1025px - 1200px
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .main {
        &__titlecontainer {
            background-position-y: 40%;
        }
        &__titleheadings{
            margin-top: 100px;
        }
    }
}

//Breakpoint for Mobile 375px - 480px
@media screen and (min-width: 0px) and (max-width: 480px) {
    .body {
        overflow: scroll;
        margin-bottom: -30px;
        
    }
    .header {
        height: 3.5rem;
        width: 100vw;
        display: row;

        &__title {
            width: 50%;
            
            
        }
        &__dropdown {
            display: inline-flex;
            width: 2.5em;
            height: 2.5em;
            margin-right: 15px;
            margin-top: 8px;
            background-color: white;
            border-radius: 20px;
        }
        &__nav {
            display: none;
        }
        &__search {
            display: none;
        }
}
    .main {
        width: 100vw;
        &__titlecontainer {
            width: 100%;
            justify-content: center;
            background-size: 100%;
            min-height: 250px;
            height: 33%;
            margin-top: -15px;
        }
        &__titleheadings {
            margin-top: 100px;
            width: 100%;
        }
        &__descriptions {
            padding-bottom: 100px;
            
        }
    }
    .footer {
        margin-top: 30px;
    }
}